<div class="custom-select" [class.open]="isOpen" tabindex="0" (click)="toggle()" (keydown)="onKeydown($event)">
  <div class="selected">{{ getLabel() || placeholder }}</div>
  <div class="arrow" aria-hidden="true"></div>
  <ul class="options" *ngIf="isOpen" role="listbox" [ngStyle]="optionsStyle">
    <li *ngFor="let opt of options; let i = index"
        role="option"
        [attr.aria-selected]="opt.value === value"
        [class.disabled]="opt.disabled"
        [class.focus]="i === focusedIndex"
        (click)="selectOption(opt)"
        (mouseenter)="focusedIndex = i">
      {{ opt.label }}
    </li>
  </ul>
</div>
